<!DOCTYPE html>
<html lang="en" id="html" class="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="min-h-screen flex flex-col">

    <header class="flex items-center justify-between w-full h-fit px-[32px] py-[16px] border-b-0.8 bg-white dark:bg-black1 text-black dark:text-white border border-gray1 dark:border-black3">
        <a class="flex flex-row items-center gap-[12px]" href="">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="8" class="fill-black dark:fill-white"/>
            <path d="M10.3106 10.8182H13.3582L15.9434 17.1222H16.0628L18.648 10.8182H21.6956V21H19.2993V14.7457H19.2148L16.7687 20.9354H15.2375L12.7915 14.7109H12.7069V21H10.3106V10.8182Z" class="fill-white dark:fill-black"/>
            </svg>

            <div>Minimal Store</div>
        </a>
        
        <input type="button" value="Dark Mode" id="theme" class="py-[5.8px] px-[11.8px] bg-medium-gray rounded-full border border-gray1 dark:bg-black2 dark:border-black3">
    </header>


    <main class="bg-light-gray dark:bg-black4 flex flex-col justify-center items-center grow w-full dark:text-white p-30 gap-5">

        <svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" class="bi bi-emoji-laughing fill-black dark:hidden" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M12.331 9.5a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5M7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" width="106" height="106" class="bi bi-emoji-laughing-fill fill-white hidden dark:block" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5s-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5m5.331 3a1 1 0 0 1 0 1A5 5 0 0 1 8 13a5 5 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5m-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5s-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235"/>
        </svg>

        <p class="text-[20px] text-center font-light">Não daria tempo de fazer a main do site sem usar um monte de IA, e eu não queria fazer isso. Então só fiz a versão dark e light do site.</p>

    </main>
    <script src="../static/js/script.js"></script>
</body>
</html>